# environment variables

# env type: dev, prod
ENV=dev

# Telegram API credentials (you can receive it via https://my.telegram.org)
TELEGRAM_API_ID=TELEGRAM_API_ID
TELEGRAM_API_HASH=TELEGRAM_API_HASH
MESSAGES_COLLECTING_IS_ON=False

# Telegram chat account Username to send donation messages to
TELEGRAM_CHAT_SEND_TO=@FREEGAN_CHAT_ACCOUNT

# Telegram chats where this bot looks donation message for. Add more chat URLS with new env variable CHAT_N
CHAT_1=https://t.me/CHAT_1
CHAT_2=https://t.me/CHAT_2

# Telegram chat account Usernames of developers who this bot should send system messages to. Add more developers with new env variable DEVELOPER_N
DEVELOPER_1=@DEVELOPER_1

# Telegram chat topic ID where bot should send system messages.
TOPIC_ID=TOPIC_ID