# environment variables

# env type: dev, prod
ENV=dev

# Telegram API credentials (you can receive it via https://my.telegram.org)
TELEGRAM_API_ID=TELEGRAM_API_ID
TELEGRAM_API_HASH=TELEGRAM_API_HASH
MESSAGES_COLLECTING_IS_ON=False

# Telegram chat account Username to send donation messages to
TELEGRAM_CHAT_SEND_TO=@FREEGAN_CHAT_ACCOUNT

# Telegram chats where this bot looks donation message for. Split chat urls using comma and space
CHATS=https://t.me/CHAT_1, https://t.me/CHAT_2

# Telegram chat account Usernames of developers who this bot should send system messages to. Split developers using comma and space
DEVELOPERS=@DEVELOPER_1, @DEVELOPER_2

# Telegram chat topic ID where bot should send system messages.
TOPIC_ID=TOPIC_ID

# URL to Catebi API
CATEBI_API_LINK=https://api.catebi.ge/api/