# environment variables

# env type: dev, prod
ENV=dev

# Telegram API credentials (you can receive it via https://my.telegram.org)
TELEGRAM_API_ID=TELEGRAM_API_ID
TELEGRAM_API_HASH=TELEGRAM_API_HASH
MESSAGES_COLLECTING_IS_ON=False

# Telegram chat account Username to send donation messages to
TELEGRAM_CHAT_SEND_TO=@FREEGAN_CHAT_ACCOUNT